<h1 id="books">Books</h1>
<table class="table table-hover">
  <thead>
    <tr class="header">
      <th>Title</th>
      <th>Author</th>
      <th>Other</th>

      <% if @modify %>
      <th>Action</th>
      <% end %>

    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.other %></td>

      <% if @modify %>
      <td>
        <%= link_to 'Edit', edit_book_path(book),
            :class => 'btn btn-mini btn-primary'
        %>
        <%= link_to 'Delete', book_path(book),
            method: :delete,
            data: {confirm: 'Are you sure?' },
            :class => 'btn btn-mini btn-danger'
        %>
      </td>
      <% end %>

    </tr>
    <% end %>
  </tbody>
</table>
