<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Other</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @book.title %></td>
      <td><%= @book.author %></td>
      <td><%= @book.other %></td>
    </tr>
  </tbody>
</table>

<p><%= link_to 'Edit', edit_book_path(@book) %></p>
<p><%= link_to 'Back', books_path %></p>
